requests==2.20
asn1crypto==0.24.0
cffi==1.11.2
cryptography==41.0.4
enum34==1.1.6
idna==2.6
ipaddress==1.0.19
pycparser==2.18
pyOpenSSL==17.5.0
six==1.11.0
censys==0.0.8
psycopg2
beautifulsoup4
certifi>=2022.12.7 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=1.26.5 # not directly required, pinned by Snyk to avoid a vulnerability
